*
{
	margin: 0;
	font-family: Optima, sans-serif;
	font-weight: lighter;
}

body
{
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.header
{
	width: 100%;
}

.header p
{
	font-size: 30px;
	color: white;
	margin-left: 980px;
	margin-top: 30px;
	margin-right: 150px;
}

footer
{
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
 	background-color: black;
  	color: white;
  	padding: 20px;
}

footer p
{
	float: left;
	margin-left: 550px;
	font-size: 15pt;	
}

.content-grid1
{
	display: grid;
	float: left;
	margin-left: 90px;
}

.content-grid1 div
{
	background-color: white;
	border: ridge gray 2pt;	
	padding: 100px;
	margin-bottom: 10px;
	border-radius: 15px;
}

.content-grid2
{
	display: grid;
	float: left;
	margin-left: 10px;
}

.content-grid2 div
{
	background-color: white;
	border: ridge gray 2pt;	
	padding: 100px;
	margin-bottom: 10px;
	border-radius: 15px;
	text-align: center;
}

.content-grid1 div:hover, .content-grid2 div:hover
{
	background-color: gray;
}

.aside
{
	float left;
	padding: 30px;
	background-color: #173C8F;
	margin-left: 900px;
	margin-right: 100px;
	height: 200px;
	border-radius: 20px;
	margin-top: 120px;
}

form p
{
	margin-bottom: 30px;
	font-size: 30px;
	color: white;
}

table, th, td
{
  	 padding: 5px;
  	 margin-left: 2px;
  	 border-radius: 10px;
  	 color: white;
}

.submit 
{
	text-align: center;
	padding: 10px;
}

#button
{
	margin-top: 10px; 
	width: 100px;
	border-radius: 10px;
 	border: 2px solid lightgray;
}

#button:hover
{
	background-color: lightgray;
}

a
{
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 20px;
}

a:hover
{
	color: white;
}